CP_USER={{ couchpotato_user }}
CP_HOME={{ couchpotato_install_dir }}
CP_DATA={{ couchpotato_data_dir }}
CP_OPTS="--config_file={{ couchpotato_config_file }}"
CP_PIDFILE={{ couchpotato_pid_dir }}/couchpotato.pid
